html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
#app{
    width: 100%;
    height: 100%;
    
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
}

=======
#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
>>>>>>> c4d18f6911e186bc88bb67b3158065dff18b1c8e
